<ion-header [translucent]="false">
    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="categories" contentId="home">
    <ion-content>
        <ion-list style="margin-top: 3rem;">
            <ion-item (click)="changeCategory('all')">Все категории</ion-item>
            <ion-item (click)="changeCategory('stud-life')">Студенческая жизнь</ion-item>
            <ion-item (click)="changeCategory('since')">Наука</ion-item>
            <ion-item (click)="changeCategory('events')">Мероприятия</ion-item>
            <ion-item (click)="changeCategory('sport')">Спорт</ion-item>
            <ion-item (click)="changeCategory('homes')">Общежития</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [fullscreen]="true" id="home" force-overscroll='true' #pageTop>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ currentCategory }}</ion-title>
            <ion-buttons slot="end">
                <ion-menu-button class="custom-cat-menu-icon" (click)="showCatMenu()" size='large' autoHide="false"></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-virtual-scroll id="lenta-ion-virtual-scroll" [items]="(posts)" approxItemHeight="320px">
        <ion-card style="height: 300px !important;" *virtualItem="let item; let itemBounds = bounds;" routerLink="/post">
            <ion-card-header>
                <ion-card-title>{{ item.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{ item.text }}</ion-card-content>
        </ion-card>
    </ion-virtual-scroll><br>
</ion-content>